@font-face {
  font-family: clashDisplaySemi;
  src: url(/ClashDisplay-Semibold.woff);
}


#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: none;
}
.copy1{
  font-size: 2rem;
}
h1 {
  margin-bottom: 1rem;
  
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent !important;
  z-index: 0;
}

p, span, h1, h2, h3 {
  background: transparent !important;
}

#scroll-container {
  z-index: 9999;
  width: 100%;
}
.speed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  padding: 5px 10px;
}

.speed-button button{
  padding: 5px 30px;
}

.pressed{
  background-color: blueviolet;
}

/* DISTANCE COUNTER */

.distance-count{
  background-color: transparent;
  text-align: left;
  margin-left: 60px;
  margin-top: 20px;
}

.distance-count h2, p{
  margin: 0;
}

.travelCopy{
  position: fixed;
  top: 30%;
  left: 50%;
  width: 100vw;
  display: flex;

  justify-content: center;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10000;
  pointer-events: none;
}

.t-copy{
  position: absolute;

}

.t-copy-title1{
  font-family: clashDisplaySemi;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20pt;
}



.page {
  transition: background-color 0.8s ease, color 0.8s ease;
}

.page.light {
  background-color: #ffffff;
  color: #000;
}

.page.dark {
  background-color: #0b0b2a;
  color: #fff;
}