#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: none;
}
.copy1{
  font-size: 2rem;
}
h1 {
  margin-bottom: 1rem;
  
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent !important;
  z-index: 0;
}

p, span, h1, h2, h3 {
  background: transparent !important;
}

#scroll-container {
  z-index: 9999;
  width: 100%;
}
.speed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}